---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-cluster-open-cluster-management-io-v1beta1-restore
  failurePolicy: Fail
  name: vrestore.kb.io
  rules:
  - apiGroups:
    - cluster.open-cluster-management.io
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - restores
  sideEffects: None

